* {
    /* border: 1px solid salmon; */
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.toc ul {
    padding:0;
    list-style: none;
}

.toc li {
    margin:0;
    margin-bottom: 0.5rem;
}

.toc li a {
    text-decoration: none;
}

.toc li a:hover {
    text-decoration: underline;
}

.required-classes .card {
    border-left: 8px solid maroon;
}

.dashboard {
  padding-top: 65px;
}

.text-muted {
  padding-top: 65px;
}

/* a.coffee {
  position: relative;
  top: -250px;
} */